#leaderboard{
    text-decoration: none;
}

#timer{
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 18px;
    font-weight: bolder;
}

#staging{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    top: 20%;
    width: 800px;
    height: 500px;
    justify-content: center;
}

#staging h1{
    text-align: center;
}

#staging p{
    flex-wrap: wrap;
    font-size: 18px;
}

#staging ol{
    list-style-type: none;
    display: none;

}

#staging ol li{
    padding: 5px 0px;
}

button{
    background-color: blue;
    color: white;
    font-size: 18px;   
}

#startbtn{
    display: block;
    width: 150px;
}