#leaderboard{
    text-decoration: none;
}

#timer{
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 18px;
    font-weight: bolder;
}

section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
    height: fit-content;
    justify-content: center;
    margin: 10% auto 3% auto;
}

section h1{
    text-align: center;
}

section p{
    flex-wrap: wrap;
    font-size: 18px;
}

section ol{
    list-style-type: none;
    display: none;

}

section ol li{
    padding: 5px 0px;
}

button{
    background-color: blue;
    color: white;
    font-size: 18px;   
}

#startbtn{
    display: block;
    width: 150px;
    align-self: center;
}

form{
    display: none;
}

#board{
    display: none;
}

#board button{
    width: 200px;
    margin: 5px;   
}

#leaderboard{
    display: block;
    padding-left: 0px;
}

#leaderboard li{
    text-indent: 5px;
    background-color: rgb(113, 189, 189);
}

#home{
    display: none;
    
}

#clear{
    display: none;
    
}

#rightWrong{
    display: none;
    border-top: 2px solid #aaa;
    font-style: italic;
    padding-top: 10px;
    font-size: 18px;
    width: 800px;
    text-align: center;
    margin: auto;
}